<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            padding: 5em 0;
            width: 90;
            margin: 0 5%;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>Error <%= err.statusCode %> </h2>
        <p><%= err.message %> </p>
        <p><%= err.stack %> </p>
    </div>
</body>
</html>